html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.3;
  background-color: #202020;
}
#app {
  height: 100%;
}
main {
  color: rgb(252, 250, 225);
  height: 100%;
  padding: 1.5em 1em;
  text-align: center;
}
.container {
  max-width: 800px;
  margin: 2em auto 3em;
  padding: 0 1em;
  align-items: center;
}
.voter {
  max-width: 1200px;
  margin: 2em auto 3em;
  padding: 0 1em;
  align-items: center;
  display: table;
}
.voter > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.left-button,
.right-button {
  display: block;
  height: 150px;
  width: 300px;
  font-size: 24px;
  color: #fff;
  padding: 0px 0px;
  margin-bottom: 8px;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
  border: none;
  box-shadow: 7px 7px 20px 0px rgba(47, 116, 245, 0.479),
    4px 4px 5px 0px rgba(69, 94, 141, 0.699);
  background: #0086e0;
  position: relative;
}
.left-button::before,
.right-button::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 22px 12px #202020;
  border-radius: 15px;
  border: 2px solid #0086e0;
}
.button-img{
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.fight-symbol {
  align-items: center;
  display: inline-block;
  text-align: center;
}
.left-button:hover,
.right-button:hover {
  background-color: #2075ff;
}
.left-button:active,
.right-button:active {
  box-shadow: 7px 7px 20px 0px rgba(47, 245, 80, 0.479),
    4px 4px 5px 0px rgba(69, 141, 79, 0.699);
  top: 2px;
}
.left-button:active::before,
.right-button:active::before {
  border: 2px solid #32a852;
}
.button-Container-left,
.button-Container-right {
  transition: all 0.3s ease;
  align-items: center;
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
}
.button-Container-left.slide-out {
  transform: translateX(-1000%);
}
.button-Container-right.slide-out {
  transform: translateX(1000%);
}
.wikilink {
  color: rgb(2, 206, 250);
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.wikilink:hover {
  color: rgb(1, 108, 131);
  filter: blur(1px);
}
.wikilink:visited:hover {
  color: rgb(151, 129, 0);
  filter: blur(1px);
}
.wikilink:visited {
  color: #ffdc13;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
p {
  padding: 5px;
  font-weight: bold;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 25px;
  left: 20px;
  top: 20px;
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(2, 206, 250);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(1, 108, 131);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 30px;
  width: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(2, 206, 250);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #3d3d3d;
  padding: 10px 0 0 20px;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #3d3d3d;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 5px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 15px 0 0 0;
  color: rgb(252, 250, 225);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
.leaderbaord-bar {
  position: relative;
  max-width: 800px;
  height: 25px;
  border-radius: 7px;
  background-color: #f0f0f0 ;
  /* box-shadow: 0px 0px 10px 1px rgba(19, 200, 200, 1); */
  margin: 10px;
  text-align: center;
  vertical-align: left;
}
.leaderbaord-bar div,
.leaderbaord-bar span {
  position: absolute;
  top: 0;
  left: 0;
}
.leaderbaord-bar-fill {
  margin-left: 10;
  border-radius: 7px;
  background: #02cefa;
  transition: all 2s ease;
}
.leaderboard-bar-text {
  color: hsl(0, 0%, 10%) ;
  font-size: 16px;
  font-weight: bold;
  margin-top: 3px;
  margin-left: 15px;
}
.leaderbaord-link:hover {
  filter: hue-rotate(90deg);
  border: 3px solid #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

span {
  margin-left: 0.5em;
}
footer{
  text-align: center;
  font-size: 12px;
  color: rgb(252, 250, 225);
}
.button{
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(47, 116, 245, 0.479),
    4px 4px 5px 0px rgba(69, 94, 141, 0.699);
  background: #0086e0;
}
.form__group {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0 0;
  margin-top: 10px;
  width: 40%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #02cefa, #0086e0);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #0086e0;
  font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .voter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    max-width: 100%;
  }
}
