html {
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  line-height: 1.3;
  background-color: #202020;
}
#app {
  height: 100%;
}
main a {
  color: #4e4a46;
  text-decoration: none;
}
main a:hover,
main a:focus {
  color: #c94e50;
}
main {
  color: #fcfae1;
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  overflow: auto;
}
.voter{
  max-width: 1200px;
  margin: 2em auto 3em;
  padding: 0 1em;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.left-button, .right-button {
  flex: 1;
  min-height: 140px;
  width: 300px;
  font-size: 24px;
  color: #fff;
  padding: 10px 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(47, 116, 245, 0.479), 4px 4px 5px 0px rgba(69, 94, 141, 0.699);
  background: #0086E0;
}
.left-button:hover, .right-button:hover {
  background-color: #2075ff;
}
.left-button:active, .right-button:active{
  top: 2px;
}
.button-Container-left, .button-Container-right {
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-Container-left.slide-out {
  transform: translateX(-1000%);
}
.button-Container-right.slide-out {
  transform: translateX(1000%);
}
a {
  color:rgb(2, 206, 250);
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
a:hover {
  color:rgb(1, 108, 131);
  filter: blur(1px);
}
a:visited:hover {
  color:rgb(151, 129, 0);
  filter: blur(1px);
}
a:visited {
  color:rgb(255, 220, 19);
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #0086E0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: rgb(1, 108, 131);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #0086E0;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #3d3d3d;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #3d3d3d;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


@media only screen and (max-width: 768px) {
  .box {
      flex-direction: column;
 }
  button {
      max-width: 100%;
 }
}
